.container{
  display: flex;
  flex-direction: column; /* 这行让容器的直接子元素垂直排列 */
  align-items: center;
  justify-content: center;
  height: 100vh;
}

p {
  text-align: center;
  color: rgb(135, 177, 198);
}
body {
  background-color: black;
}
.gif1 {
  position: absolute;
  top: 40%;
  left:7%;
  width: 300px;
  height: 200px;
}
.gif2 {
  position: absolute;
  top: 25%;
  right: 5%;
  width: 400px;
  height: 200px;
}
.gif3 {
  position: absolute;
  bottom: 70%;
  left: 25%;
  width: 300px;
  height: 200px;
}
.gif4 {
  position: absolute;
  bottom: 66%;
  right: 35%;
  width: 200px;
  height: 200px;
}
.gif5 {
  position: absolute;
  top: 68%;
  left: 22%;
  width: 300px;
  height: 200px;
}
.gif6 {
  position: absolute;
  top: 75%;
  left: 44%;
  width: 400px;
  height: 150px;
}
.gif7 {
  position: absolute;
  top: 53%;
  left: 72%;
  width: 250px;
  height: 250px;
}
